/*global*/

/*utilities*/

/*header*/
header.site-header{
    display: flex;
    justify-content: space-between;
    height: 40vh;
    background-image: url(https://www.seat.mx/content/countries/mx/seat-website/es/servicio/accesorios-originales/seat-pets/_jcr_content/par/twocolumns_330270530_36697074/twocolumnsimage.resizedViewPort.noscale.assetRootS.jpg);
    background-position: center center;
    background-size: cover;
}

main{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
/*register form*/
.form-container h2{}

.foot{
    font-size: 12px;
    
}

.form-container div{
    margin-bottom: 1rem;
}

#pets{
    display:flex;
}
.pets{
    display:flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.pet{
    display:flex;
    border: 1px solid black;
    background-color: lightgray;
}
.pet .pet-header button{
    font-size: 14px;
    border:none;
}

.highlight{
    border:3px solid yellow;
}